<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/c2.css">
    <script>
        function fun1(){
            x= prompt("enter your name")
            document.getElementById("name").innerHTML=x;
        }
    </script>
</head>
<body>
    <button onclick="fun1()">click</button>
    <div id="certificate">
        <h1><center><u>-: A-B-C:-</u></center></h1>
        <div id="num11">
            <h2><center>CERTIFICATE</center></h2>
        </div>
            <h5><center>OF APPERCLATION</center></h5><br><br>
            <center><span id="name"></span></center> 
            <p><center>This candidate complete skill sets and  process proficient<br><br> knowledge in the field of web development.</center></p>
        <div id="num1">
            <h4><center>certificate id-:5687-789-8765</center></h4>
            <h4><center>Awarded On : May 5, 2021</center></h4>
        </div>
        <div id="sign">
            <h3>
                <span id="sign1">Dean(Academics)</span>
                <span id="sign2">Head of Institute</span>
            </h3>
            <img src="/static/WhatsApp Image 2021-12-07 at 5.42.44 PM (1).jpeg" alt="" id="s1">
        </div>
    </div>
</body>
</html>